<div class="container full-form-container reset-container">
  <div class="head-section">
    <img src="{{logo}}" class="head-section-logo" alt="The curious readers logo" />
    <h1 class="head-section-title">Password reset</h1>
    <p class="head-section-text">Enter your email below in order to receive a password reset link.</p>
  </div>

  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="form-container">
      <input type="text" class="form-control" [ngClass]="{ 'validation-border': isInvalid('email') }"
        formControlName="email" placeholder="Email address" />
      <div *ngIf="isInvalid('email')" class="error-message">
        <small *ngIf="email.errors?.['required']">Email is required!</small>
        <small *ngIf="email.errors?.['maxlength']">Last Name cannot be longer than 256 characters!</small>
      </div>
    </div>
    <div class="button-container">
      <button type="submit" [ngClass]="{ 'btn-disabled': resetPasswordForm.invalid }" class="btn-form reset-btn">
        Submit
      </button>
    </div>
  </form>
</div>
