@use "../../../../../styles/forms" as *;

.reset-container {
  margin-top: 88px;
  padding-inline: 20px;
  max-width: 486px;
}

.head-section-title {
  margin-top: 24px;
  text-transform: capitalize;
}

.reset-btn {
  width: 100%;
}
