<section class="container">
  <app-title [title]="title" class="app-title"></app-title>

  <div class="row px-2 cards-container">
    <div class="col info-card">
      <p class="card-count">{{booksCount}}</p>
      <p class="card-title">Total Books</p>
    </div>
    <div class="col mx-4 info-card">
      <p class="card-count">{{genresCount}}</p>
      <p class="card-title">Genres</p>
    </div>
    <div class="col info-card">
      <p class="card-count">{{readersCount}}</p>
      <p class="card-title">Current readers</p>
    </div>
  </div>
</section>