<div class="container-success">
  <div class="head-section">
    <img src="{{ logo }}" class="head-section-logo" alt="The curious readers logo" />
    <div class="head-section-title">Sent!</div>
    <div class="form-text-container">
      <p class="head-section-text">
        We just sent an email. Check your inbox!
      </p>
      <p class="head-section-text">
        Haven't received the email? <br>
        Check your spam folder to make sure it didn't end up there.
      </p>
      <p class="head-section-text">
        You can also <a class="head-section-link" (click)="resendEmail()">resend the email</a>
      </p>
    </div>
  </div>
</div>
