<footer class="container-fluid footer-container">
  <div class="row gx-0">
    <div class="col-12 col-xl-6">
      <div class="map-container">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11731.9736251475!2d23.3149528!3d42.682682!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xcbd97a6a42d336ce!2sEndava!5e0!3m2!1sbg!2sbg!4v1651655827004!5m2!1sbg!2sbg"
          loading="lazy"
          class="location-map"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>
    <address class="col-12 col-xl-6 address-container">
      <h3 class="contact-header">Our Contacts</h3>
      <p class="contact-text">
        Address
      </p>
      <div class="contact-container">
        <a
          class="address"
          href="https://www.google.com/maps/place/Endava/@42.683502,23.310078,14z/data=!4m5!3m4!1s0x0:0xcbd97a6a42d336ce!8m2!3d42.682682!4d23.3149528?hl=bg"
          target="_blank"
        >
          1000 Sofia, 4 "Petko R. Slaveykov" blvd., Bulgaria</a
        >
      </div>
      <p class="contact-text">
        Phone
      </p>
      <div class="contact-container">
        <a class="address" href="tel:0035929183212" target="_blank"
          >+359 (2) 9183 212</a
        >
      </div>
      <p class="contact-text">
        E-mail
      </p>
      <div class="contact-container">
        <a class="address" href="mailto:curious_readers@abv.bg" target="_blank"
          >curious_readers@abv.bg</a
        >
      </div>
    </address>
  </div>
  <div class="copyright-text-container">
    <p class="copyright-text">
      © Copyright Rila Planina Team. All right reserved.
    </p>
  </div>
</footer>
