<div class="container-success">
  <div class="head-section">
    <img src="{{ logo }}" class="head-section-logo" alt="The curious readers logo" />
    <div class="head-section-title">Thank you for subscribing!</div>
    <div class="form-text-container">
      <div class="head-section-text">
        Your request needs to be approved by admin.
      </div>
      <div class="head-section-text">
        You will be notified via email upon receiving an approval.
      </div>
    </div>
    <div>
      <a class="head-section-link" routerLink="/home">Back to home page</a>
    </div>
  </div>
</div>
