@use "../../../../../styles/colors" as *;
@use "../../../../../styles/forms" as *;
@use "../../../../../styles/mixins" as *;

.new-pass-container {
  margin-top: 88px;
  padding-inline: 20px;
  max-width: 486px;
}

.head-section-title {
  margin-top: 24px;
}

.head-section-text {
  margin: 0 auto;
  max-width: 410px;

  &:last-child {
    margin-top: 24px;
  }
}

.set-pass-btn {
  margin-top: 24px;
  width: 100%;
}
