<div class="container full-form-container new-pass-container">
  <div class="head-section">
    <img src="{{logo}}" class="head-section-logo" alt="The curious readers logo" />
    <h1 class="head-section-title">New Password</h1>
    <p class="head-section-text">
      Create a new password below.
    </p>
    <p class="head-section-text">
      It is required to use a combination of 10 characters,
      including upper and lower-case letters, numbers, and symbols.
    </p>
  </div>

  <form [formGroup]="newPasswordForm" (ngSubmit)="onSubmit()" autocomplete="off" appPassValid>
    <div class="form-container">
      <input type="password" class="form-control" [ngClass]="{ 'validation-border': isInvalid('password') }"
        formControlName="password" placeholder="New Password" />
      <div *ngIf="isInvalid('password')" class="error-message">
        <small *ngIf="password.errors?.['required']">Password is required!</small>
        <small *ngIf="password.errors?.['pattern']">Password must be at least 10 characters lowercase uppercase
          and special character!</small>
      </div>
    </div>
    <div class="form-container">
      <input type="password" class="form-control" [ngClass]="{ 'validation-border': isInvalid('repeatPassword') }"
        formControlName="repeatPassword" placeholder="Confirm Password" />
      <div *ngIf="isInvalid('repeatPassword')" class="error-message">
        <small *ngIf="repeatPassword.errors?.['required']">Repeat Password is required!</small>
        <small *ngIf="repeatPassword.errors?.['passValid']">Password and Repeat Password must be match!</small>
      </div>
    </div>
    <button type="submit" [ngClass]="{ 'btn-disabled': newPasswordForm.invalid }" class="btn-form set-pass-btn">
      Set Password
    </button>
  </form>
</div>
